<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
 
  <connectionStrings>
    <add name="PHARMACY_MANAGEMENT_SYSTEM.My.MySettings.pharmacy_dbConnectionString" connectionString="Driver={MySQL ODBC 5.1 driver};server=localhost;uid=root;database=pharmacy_db;port=3306" providerName="System.Data.Odbc"/>
  </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
  
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Bunifu.Core" publicKeyToken="E8E24CCD28363FE9" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.11.5.1" newVersion="1.11.5.1"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
